[Unit]
Description=Process I/O Watcher

StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
ExecStart=/PATH/TO/io_watcher.py --server

AmbientCapabilities=CAP_NET_ADMIN CAP_SYS_PTRACE CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_NET_ADMIN CAP_SYS_PTRACE CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE

StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=5
TimeoutStopSec=30

User=nobody
Group=nogroup

#Environment=PYTHONUSERBASE=/PATH/TO/python_user_base

[Install]
WantedBy=multi-user.target
