[Unit]
Description=Process I/O Watcher

StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
# Do not use 'python3 -m mirfatif.io_watcher.io_watcher'.
# 'isinstance' of classes will fail between client and server.
ExecStart=/opt/python_user_base/bin/io_watcher.py --server

AmbientCapabilities=CAP_NET_ADMIN CAP_SYS_PTRACE CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_NET_ADMIN CAP_SYS_PTRACE CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE

StandardOutput=journal
StandardError=journal

Restart=always
RestartSec=5
TimeoutStopSec=30

User=nobody
Group=nogroup

Environment=PYTHONUSERBASE=/opt/python_user_base

[Install]
WantedBy=multi-user.target
